.menu {
  /* border-bottom: 1px solid black; */
}

.link {
  display: inline-flex;
  padding: 8px;
  text-decoration: none;
}

.link:hover {
  color: orangered;
}

.active {
  border: 1px solid orangered;
  border-radius: 4px;
  color: orangered;
}
